/* General rules */
.section {
    padding: 20px 0;
}
.section .title {
    font-weight: bold;
}
#search_weather {
    margin-top:50px;
}
.container {
    max-width: 800px;
    margin: 0 auto;
}

/* Searchbar */
#search_weather form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
}

/* Current weather */
#weather-now .temp_now {
    font-size: 40px;
}
.city {
    font-weight: bold;
}

/* Card */
.head-card {
    padding-bottom: 20px;
}