#cards-week {
    display: flex;
    justify-content: center;
    gap:20px;
    list-style-type: none;
    padding: 0;
}

#forecast form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
    margin-bottom: 30px;
}
.city {
    font-weight: bold;
}