/* General rules */
.section {
    padding: 30px 0;
}
.section .title {
    font-weight: bold;
}

#weather-now .temp_now {
    font-size: 40px;
}
#cards-week {
    padding: 0;
}
#forecast form {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:16px;
    margin-bottom: 30px;
}
.city {
    font-weight: bold;
}